@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  display: 'flex';
  flex-direction: column;
  align-items: space-between;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  width: 100svw;
  font-family: Roboto;
}

main {
  height: 80vh;
  height: 80svh;
}

/* footer {
  height: 10vh;
  height: 10svh;

  /* display: flex; */
/* flex-direction: row; */
/* } */

.name {
  font-size: 40px;
  /* font-family:  */
  margin-bottom: 15px;
  text-align: center;
}

.subheading {
  font-size: 25px;
}

#hook {
  width: 300px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
