@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  display: 'flex';
  flex-direction: column;
  align-items: space-between;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  width: 100svw;
  font-family: Roboto;
}

main {
  z-index: 1000;
  height: 80vh;
  height: 80svh;
}

.backgroundImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/coffee-agenda-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  width: 100svw;
  z-index: -100;
  position: relative;
  /* opacity: 0.6; */
}

.aboveImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  padding: 5%;
  border-radius: 5%;
}

.frontCard {
  /* background-image: url('/bg.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* opacity: 0.6; */
}

/* footer {
  height: 10vh;
  height: 10svh;

  /* display: flex; */
/* flex-direction: row; */
/* } */

.name {
  font-size: 40px;
  /* font-family:  */
  margin-bottom: 15px;
  text-align: center;
}

.subheading {
  font-size: 25px;
}

#hook {
  width: 300px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
