service cloud.firestore {
  match /databases/TaskDb/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}